Source: atlassian-jira-core
Section: java
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@gmail.com>
Homepage: https://www.atlassian.com/software/jira/core
Vcs-Browser: https://github.com/alvistack/atlassian-atlassian-jira-core
Vcs-Git: https://github.com/alvistack/atlassian-atlassian-jira-core.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 fdupes,

Package: atlassian-jira-core
Architecture: all
Description: Atlassian Jira Core
 Atlassian Jira Core is a project and task management solution built for
 business teams.
Pre-Depends:
 passwd,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 java-runtime,
